<div class="detail-container">
  <img [src]="product.url" alt="product photo" />
  <div class="detail-item">
    <h3>{{ product.name }}</h3>
    <p>${{ product.price }}</p>
    <p>{{ product.description }}</p>
    <select [(ngModel)]="quantity" name="amount"class="select-input">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <br />
    <button (click)="addToCart()" class="btn btn-primary">
      Add to cart
    </button>
    <a [routerLink]="'/'" class="back-link">← Back to product list</a>
  </div>
</div>
